*{
    margin: 0;
    padding: 0;
 
}

body{
    font-size: 1em;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand > img[alt="Logo"]{
    width: 50px;
    height: 50px;
}
.navColor{
    background-color: #e1aeae ;
}
.nav-link{
    color: #fff;
}
/* .btn-outline-success{
color: #fff;
border-color: #fff;
}
.btn-outline-success:hover{
color: brown;
border-color: #fff;
background-color: #fff;
} */
 .carousel-inner, .carousel-inner img{
    height: 500px;
    object-fit: cover;
 }

.infos .card-img-top{
  height: 250px;
  object-fit: cover;
}
.infos .card{
    width: 50%;
    height: 56%;
}
#sms{
    display: none;
}